/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

 .container {
    text-align: center;
}

 #verification_heading {
    margin-bottom: 10px;
}

#verification_subtext {
    margin-bottom: 20px;
    color: #666;
	font-size:11.7px;
}

.code-container {
    display: flex;
    justify-content: center;
}

.code {
    width: 40px;
    height: 50px;
    margin: 0 5px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}  
